.reportContainer {
    height: 100vh;
}

.reportMain{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 0px solid black;
    margin: auto;
    padding: 0.0rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.reportNavLeft {
    padding: 0.0rem;
    border: 0px solid black;
    margin: 0;
}

.reportNavBottom{
    height: 35%;
    padding: 0.0rem;
    border: 0px solid black;
}

.studentBoxContainer {
    display: block;
    width: 100%;
    height: 95%;
    background-color: #fefefe;
    margin: 5% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid #225633;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    scroll-snap-align: center;
}

.studentBoxName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.studentBoxGrades{
    color: black;
    margin-bottom: 10px;
}

.commentLabel label{
    margin-left: 0.3rem;
}

.input-group-text{
    cursor: default;
}

.input-group>.form-select {
    flex: 0.5 0.5 auto;
}

.course-select {
    width: auto;
    max-width:none;
}

.navBottomContainer{
    background-color: var(--bs-tertiary-bg);
}

.navBottomContainer .row>*{
    padding-right: 0;
    padding-left: 0;
}

.commentMenu{
    width: 100%;
    height: 1.5rem;
    padding-left: 1rem;
}

.commentMenuItem{
    cursor: pointer;
}

.commentMenuItem:hover{
    color: #225633;
}

.commentToggle{
    position: relative;
    top: -1.5rem;
}

.stopButton:hover{
    color: red !important;
}

.commentHeading {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: white;
    cursor: pointer;
}

.commentHeadingContainer {
    background-color: white;
}
.commentHeading:hover {
    background-color: var(--bs-tertiary-bg);
    font-weight: 600;
}

.selectedHeading {
    background-color: var(--bs-tertiary-bg);
    font-weight: 600;
}

.editCommentButton:hover{
    color:#225633;
}

.selectableCommentsContainer{
    display: flex;
    height: 12rem;
    flex-direction: column;
    align-items: flex-start;
    white-space: normal;
    background-color: var(--bs-tertiary-bg);
    overflow-x: visible;
    overflow-y: scroll;
    scrollbar-color: #225633 transparent;
    scrollbar-width: thin;
}

.selectableCommentsContainer::-webkit-scrollbar-thumb {
    background-color: #225633;
    border: none; /* Remove the border */
}

.selectableCommentsContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.selectableCommentsContainer::-webkit-scrollbar-corner {
    background-color: transparent;
}

.selectableComment {
    display: flex;
    text-align: left;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    width: 100%;
    overflow-wrap: break-word;
}

.selectableComment:hover {
    background-color: #225633CC;
    border: 1px solid #225633;
    font-weight: 600;
}

/* Modal */

.commentTitleInput {
    width: 100%;
    margin-bottom: 0.5rem;
}

.generateCommentWand {
    cursor: pointer;
}

.generateCommentWand:hover {
    color: var(--bs-primary);
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #e0e0e0;
  }