.sidenav{
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 10px;
    min-width: 10px;
    color:white;
}

.sidebarContent{
    display: none;
}

.left{
    left:0;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}

.left:hover{
    background-image: linear-gradient(to right, black 90%, rgba(0, 0, 0, 0));
    width: 150px;
}

.left:hover > .sidebarContent{
    display: block;
}

.right{
    right:0;
    background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}

.right:hover{
    background-image: linear-gradient(to left, black 90%, rgba(0, 0, 0, 0));
    width: 175px;
}

.right:hover > .sidebarContent{
    display: block;
}

.navBrand{
    position: relative;
    padding-top: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    cursor: default;
    font-size: large;
}

.navItemContainer{
    display: flex;
    align-items: left;
    align-content: left;
    text-align: left;
}
.navItem{
    color: white;
    font-variant: small-caps;
    font-size: medium;
    cursor: pointer;
}

    .navItem:hover{
        color: red;
        font-size: large;
    }